# Virtual Environments and Credentials
.env
resgen_env/

# Configuration
config.py


# Data
*.csv
vector_database/

# Training
chatbot_transcript.pdf
embeddings.ipynb
not_main.py
prompt_engineering.py

# Archive
Archive/
__pycache__/


# ToDo
todo.txt